body {
  background: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: auto
}

/* ----- Header Logo and Navigation ------ */

.header {
  height: 100%;
  background-image: url("../images/halifax_skyline.jpg");
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 10px;
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {

}

.header-name {
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none
}

.header-name:hover {
  color: white;
  text-decoration: none
}

.header-tagline {
  color: black;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.header-nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.header-nav-item a {
  white-space: nowrap;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.header-nav-item a:hover {
  text-decoration: none;
  color: #EFEFEF;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  text-shadow: 2px 2px 4px black;
}

@media (max-width: 900px) {
  .header-container {
    flex-direction: column;
  }

  .header-nav {
    flex-direction: column;
    max-width: 180px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    padding-bottom: 10px;
  }

  .header-nav-item {
    margin-top: 10px;
  }
}

/* ----- Footer ------ */

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #aaa
}


/* ----- General Site-Wide Classes ------ */

blockquote {
  background-color: #EEF9FF
}

h3 {
  margin-top: 0;
}